@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
  margin: 0;
}
body {
  height: 100vh;
  background: #000;
  display: grid;
  place-items: center;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}
@keyframes neon {
  0% {
    text-shadow: 0 0 5px hsl(78, 100%, 40%), 0 0 3px hsl(78, 100%, 50%),
      0 0 2px hsl(78, 100%, 65%), 0 0 2px hsl(78, 100%, 80%),
      0 0 1px hsl(78, 100%, 90%), 0 0 1px hsl(78, 100%, 100%);
  }
  50% {
    text-shadow: 0 0 5px hsl(52, 100%, 40%), 0 0 3px hsl(52, 100%, 50%),
      0 0 2px hsl(52, 100%, 65%), 0 0 2px hsl(52, 100%, 80%),
      0 0 1px hsl(52, 100%, 90%), 0 0 1px hsl(52, 100%, 100%);
  }
  100% {
    text-shadow: 0 0 5px hsl(78, 100%, 40%), 0 0 3px hsl(78, 100%, 50%),
      0 0 2px hsl(78, 100%, 65%), 0 0 2px hsl(78, 100%, 80%),
      0 0 1px hsl(78, 100%, 90%), 0 0 1px hsl(78, 100%, 100%);
  }
}
